html, body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: teal;
}
.slotmachine{
    position: relative;
    width: 500px;
    border: 5px solid grey;
    padding: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.slots {
    position: relative;
    width: 500px;
    border: 5px solid grey;
    padding: 0px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .reel {
    position: relative;
    width: 200px;
    border: 5px solid grey;
    padding: 0px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }
  
  .spin{
    position: relative;
    top: 550px;
    left: 390px;
    width: 100px;
    height: 100px;
    border-color: black;
    border-radius: 12px;
    border: black;
    padding:none;
    background-color: gray;
}