html, body{
    height: 100%;
    background-color: teal;
}



.slotmachine{
    position: relative;
    top:200px;
    left:650px;
    width: 500px;
    border: 5px solid grey;
    padding: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slots {
    position: relative;
    top: 200px;
    left: 650px;
    width: 500px;
    border: 5px solid grey;
    padding: 0px;
    height: 550px;
    display: flex; 

}

.reel {
    position: relative;
    top: 200px;
    left: 650px;
    width: 275px;
    border: 5px solid grey;
    padding: 0px;
    height: 400px;

   
  }
  .spin{
    position: relative;
    top: 750px;
    left: 1050px;
    width: 100px;
    height: 100px;
    border-color: black;
    border-radius: 12px;
    border: black;
    padding:none;
    background-color: gray;
}