html, body{
    height: 100%;
    background-color: teal;
}



.slotmachine{
    position: relative;
    top:200px;
    left:650px;
    width: 500px;
    border: 5px solid grey;
    padding: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slots {
    position: relative;
    top: 200px;
    left: 650px;
    width: 500px;
    border: 5px solid grey;
    padding: 0px;
    height: 550px;
    display: flex; 
    margin:0;

}

.reel {
    position: relative;
    top: 50px;
    left: 75px;
    width: 100px;
    height: 400px;
    border: 5px solid black;
    border-radius: 3px;
    overflow: hidden;
    background-image: url(Assets/Screenshot\ 2023-10-30\ at\ 8.59.43\ PM.png);
    background-position: 0 0;
    background-repeat: repeat-y;
    padding: 2px;
    
    
}

.button-conatiner{
    position: relative;
    top: 50px;
    left: 75px;
    width: 100px;
    height: 400px;
}
